FileBrowser#fileBrowser{
    background-color: transparent;
    border-bottom-right-radius: 10px;
    border: none;
}
QTreeView#treeView{
    background-color:transparent;
    border:none;
}
QLabel#label1{
    color: white;
    margin-top: 5px;
    font-size: 10px;
}
QLabel#label2{
    color: transparent;
    font-size: 6px;
    font-family: "Microsoft YaHei";
    color: dimgray;
}
QLabel#label2:hover{
    color: green;
}

