SettingInterface, #scrollWidget {
    background-color: transparent;
}

QScrollArea {
    border: none;
    background-color: transparent;
}

QLabel#settingLabel {
    font: 33px 'Microsoft YaHei Light';
    background-color: transparent;
    color: white;
}

QLabel#packLabel {
    font: 33px 'Microsoft YaHei Light';
    background-color: transparent;
    color: white;
}

