ScrollArea {
    border: none;
    background-color: transparent;
    border: 1px solid rgb(30,30,30);
}
#fileBrowser{
    border: none;
}
#view{
    background-color: transparent;
}
#transLog{
    color: rgb(118, 118, 118);
    font: 12px 'Segoe UI', 'Microsoft YaHei';
    margin-top: 15px;
    background-color: transparent;
}
#remain_time_label{
    color: white;
    font-size: 15px;
}

